<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<style type="text/css">
  			p{ 
				color: black; 
			 	font-family: Arial;
			}

  			#cabecera{
				background-color: gray;
				background-size:  120%;
				height: 7em;
			  	margin: 0;
			  	padding: 0;
			}

			#cabecera p{
				color: white;
				text-align: center;
				font-size: 2em;
				line-height: 3.5em;
			}

			#re{
				padding: 2em 2em 2em 2em;
				font-family: Arial;
				margin-top: 4em;
				margin-left: 6em;
				margin-bottom: 4em;
				border: 6px solid gray;
				width: 25em;
				float: left;
				font-size: 1em;
			}
			#izquierda{
				width: 30em; 
				text-align: center;
				font-family: Arial;
				color: black;
				font-size: 1em;
				padding: 2em 2em 2em 2em;
				border: 6px solid gray;
				float: right;
				margin-top: 4em;
				margin-right: 6em; 
				margin-bottom: 4em;
			}

			#warning{
				background-color: red;
				font-size: 1.5em;
				color: white;
				padding-left: 2em;
				padding-right: 2em;
				padding-top: 0.9em;
				padding-bottom: 0.9em;

			}

			#col{
				background-color: grey ;
				text-align: left;
				margin-bottom: 1em;
			}	
		</style>
		
		<title>Popularidad en Twitter</title>
	</head>
	<body>
		<div id="cabecera">
	 			<p><img src="/bird_icon.png" WIDTH=100 HEIGHT=100 />
	 			<b>Popularidad en Twitter</b></p>
	 	</div>
	 	
	 	<div id="re">
		 	<form action="/" method="post">
		   		<p><b>Introduzca su nombre en Twitter: </b></p><input type="text" name="firstname"  value="" autofocus>
		   		<p><b>Introduzca el numero de seguidores que desea: </b></p><input type="text" name="n" value="1">
		   		<input  type="submit" value="Buscar" >
		 	</form>
	 	</div>
 		
		<div id="izquierda">
			<% if @name == ''%>
				<p id="warning"> Por favor, introduzca un usuario válido. </p>
			<%else%>
				<p><b> Usuario <i><%= @name %></i></b></p>
			<%end %>

			<% if @name != ''%>
				<%if @number>10%>
					<p id="warning"> Sólo se puede mostrar 10 amigos </p>
				<%elsif @seguidores.length < @number %>
					<p id="warning">El usuario sólo tiene <%= @seguidores.length%> amigos. </p>
					<p> Amigos más populares </p>
					<ol>
						<% @seguidores.each do |i| %> 
							<li id="col"><%= i %><br></li>
						<% end %>
					</ol>
				<%else%>
					<p>Amigos más populares:</p>
					<ol>
						<% @seguidores.each do |i| %> 
							<li id="col"><%= i %><br></li>
						<% end %>
					</ol>
				<%end%>
			<%end%>
		</div>	
	</body>
</html>
